/* general css style of the page */
* {
    margin: 0;
    padding: 0;
}

body, .background {
    background-color: rgb(26, 26, 26);
}

/* css style of the font fot title */
.master {
    font-family: "Warnes", Helvetica, sans-serif;
    color: rgb(246, 244, 247);
    text-decoration: normal;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
}

.title-master{
    display: flex;
    font-family: "Warnes", Helvetica, sans-serif;
    color: rgb(246, 244, 247);
    text-decoration: normal;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
}

/* css style for buttons, card, and general box-shadow of all elements */
.game, .howToPlay, .text, .name, .inputName, .cardChoiseLevel, .gameBut, .winnerText, .checkMy {
    box-shadow: 0em 0em 0.5em 0.1em rgb(243, 103, 236);
    color: rgba(255, 255, 255, 0.762);
}

.gameButton, .howToPlayButton, .inputName, .verifyButton {
    color: rgba(255, 255, 255, 0.762);
    text-decoration: none;
}

.gameButton:hover, .howToPlayButton:hover, .inputName:hover, .play:hover, .verifyButton {
    color: #ed7872;
}

.card-play, .play {
    box-shadow: 0em 0em 0.5em 0.1em rgb(140, 46, 248);
}

/* add img in the about page */
.circle{
    background-image: url(../img/circle1.png);
    height: 15em;
    width: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.circle1 {
    background-image: url(../img/circle2.png);
    height: 15em;
    width: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.gameBut {
    width: 10em;
    margin: 1em;
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .col-md-2 {
        margin: 3em;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .gameButRow {
        margin-right: 8em;
    }
  }

@media (min-width: 1367px) {
    .col-md-2 {
      flex: 0 0 15%;
      max-width: 25%;
      margin: 1em;
    }
    .gameButRow {
      margin-right: 3em;
    }
}

.square {
    margin: 0;
    padding: 0;
    height: 9em;
    width: 9em;
    border-radius: 50%;
    margin-bottom: 5em;
    box-shadow: 0em 0em 0.5em 0.1em white;
}

#beginnerRow, #mediumRow, #advancedRow {
    display: none;
}

/*  Dinamic board style */

.fatherDiv{
    display: flex;
    flex-direction: column;
}

.containerR {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowFil {
    display: flex;
    justify-content: center;
}

.squareR {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0em 0em 0.5em 0.1em rgb(0, 113, 128);
    margin: 0.5em;
    margin-right: 1em;
}

.grid {
    display: grid;
    margin-top: 0.8em;
    grid-template-columns: repeat(2, 1em);
    grid-template-rows: repeat(2, 1em);
    gap: 0.5em;
    height: 2em;
    width: 2em;
}

.grid-item {
    box-shadow: 0em 0em 0.5em 0.1em white;
    border-radius: 50%;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

/* Board part style of the buttons */

#beginnerBoard, #mediumBoard, #advancedBoard {
    display: none;
}

.checkMy {
    border-radius: 1em;
    cursor: pointer;
    color: #ed7872;
}

.checkMy:hover {
    color: #7e0d6f;;
}

.squareGameC {
    height: 5em;
    width: 14em;
    margin-left: 1em;
    border-radius: 1em;
}

/* Board part: style of the circles-selected color */
.circleC, .circleC-myColor {
    height: 2em;
    width: 2em;
    margin: 0.1em;
    border-radius: 50%;
    box-shadow: 0em 0em 0.5em 0.1em rgb(140, 46, 248);
}

.hidden-circle {
    display: none;
}
.squareCa {
    height: 3em;
    width: 3em;
}

.thisCircle {
    height: 1em;
    width: 1em;
    margin: 0.2em;
    border-radius: 50%;
    box-shadow: 0em 0em 0.5em 0.1em rgb(195, 195, 196);
}

.squareGameC1 {
    height: 5em;
    width: 20em;
    border-radius: 1em;
    box-shadow: 0em 0em 0.5em 0.1em rgba(236, 37, 209, 0.87);
}

/* Pop-Up of input name page style */
.popUp {
    height: 10em;
    width: 30em;
    position: absolute;
    bottom: 10em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6b0606a2;
    color: rgb(240, 232, 232);
    font-size:x-large;
    text-align: center;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 1em;
    box-shadow: 0em 0em 0.5em 0.1em rgba(236, 37, 37, 0.87);
    z-index: 9999;
}

@media (max-width: 576px) {
    .popUp {
        height: 5em;
        width: 10em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .popUp {
        width: 40em;
    }
}

@media (min-width: 1025px) {
    .popUp {
        width: 50em;
    }
}

.popUp-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



