* {
    margin: 0;
    padding: 0;
}

body, .background {
    background-color: rgb(26, 26, 26);
}

.master {
    /* display: flex; */
    font-family: "Warnes", Helvetica, sans-serif;
    color: rgb(246, 244, 247);
    text-decoration: normal;
    /* text-align: center; */
    /* margin-left: auto;
    margin-top: 1em; */
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
}

.title-master{
    display: flex;
    font-family: "Warnes", Helvetica, sans-serif;
    color: rgb(246, 244, 247);
    text-decoration: normal;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
}

.game, .howToPlay, .text, .name, .inputName, .cardChoiseLevel, .gameBut, .winnerText {
    box-shadow: 0em 0em 0.5em 0.1em rgb(243, 103, 236);
    color: rgba(255, 255, 255, 0.762);
}

.gameButton, .howToPlayButton, .inputName {
    color: rgba(255, 255, 255, 0.762);
    text-decoration: none;
}

.gameButton:hover, .howToPlayButton:hover, .inputName {
    color: #ed7872;
}

.circle{
    background-image: url(../img/circle1.png);
    height: 15em;
    width: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.circle1 {
    background-image: url(../img/circle2.png);
    height: 15em;
    width: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.gameBut {
    width: 10em;
    margin: 1em;
}

.square {
    margin: 0;
    padding: 0;
    height: 10em;
    width: 10em;
    margin-bottom: 5em;
    box-shadow: 0em 0em 0.5em 0.1em white;
}

.colorPk {
    border-radius: 50%;
}
/* .aboutColors{
    overflow-x: hidden;
} */

#hello1, #hello2, #hello3 {
    display: none;
}


